@import '../../PC/component/Reset.css';

.HeaderMobile {
    width: 100%;
    height: 70px;
    display: flex;
}

.Logo {
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 10px;
    margin-left: 43.2%;
}

.Hamburger{
    margin-left: auto;
    padding: 20px 7.5%;
}

.MenuModal{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 815px;
    z-index: 1;
}

.MenuHeader{
    display: flex;
    margin: 25px 30px;
}

.close{
    margin-left: auto;
}

.MenuLogin{
    display: flex;
    margin: 30px;  
}

.MenuLogin .p{
    margin-left: auto;
}

.MenuList{
   margin-left: 30px;
   text-align: left;
}

