@import '../Reset.css';

/* 프로필 사진 */
.profile-img_mb {
    width:35px;
    height:35px;
    background-color:#000;
    margin-left:45.4%;
    margin-top:50px;
}

/* 프로필 수정 버튼 */
.profileModifyButton_mb {
    margin-top:20px;
    margin-bottom:30px;
}

/* 내 여행 */
.MyPlanP_mb {
    font-size:14px;
    font-weight:700;
    text-decoration :underline;
    text-underline-offset:5px;
    text-decoration-color:#566AF0;
    text-decoration-thickness:1.5px;
    margin-bottom:30px;
}

/* 내 일정계획 */
.MyPagePlan_mb {
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 30px;
}

/* 내 일정계획 리스트 */
.MyPagePlanList_mb {
    width: 84%;
    height: 20%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
    margin-left: 8%;
    display: flex;
}

/* 일정계획 이미지 */
.MyPagePlanImg_mb{
    width: 31.7%;
    height: 100px;
    background-color: cornflowerblue;
    margin: 15px;
}


.MyPagePlantext_mb{
    width: 46%;
    margin-top: 15px;
    text-align: left;
}

/* 일정 날짜 */
.MyPagePlanDate_mb{
    font-size: 13px;
    margin-bottom: 20%;
}

/* 일정 수정버튼 */
.MyPagePlanModify_mb{
    font-size: 12px;
}

/* 일정 확인 버튼 */
.MyPagePlanCheck_mb{
    font-size: 12px;
}

/* 일정 내보내기 버튼 */
.MyPagePlanOut_mb{
    font-size: 12px;
}