@import 'Reset.css';

/* 일정계획 페이지 */
.PlanPage {
    width: 100%;
    height: 100%;
}

/* 지도 
.KakaoMap {
    
    height: 100%;
    opacity: 99%; 
}*/


/* 일정계획 페이지 헤더 */
.PlanHeader { 
    width: 90%;
    position: absolute;
    top: 20px;
    left: 5%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  
  
/* 뒤로가기 버튼 */
.Back {
    width: 25px;
    height: 25px;
    
}

  
/* 스케줄 */
.Schedule {
    width: 25px;
    height: 25px;
     
}

/* 스케줄 모달창 */
.ChosenSchedule {
    position: absolute;
    width: 84%;
    height: 180px;
    left: 8%;
    top: 330px;
    background-color: #fff;
    z-index: 1;
}


.ChosenRegion{
    margin-top: 50px;
    text-align: center;
}

.ChosenDate{
    margin-top: 30px;
}

  
/* 검색창 */
.inputForm {
    width: 90%;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 5%;
    z-index: 1;
    display: flex;
    background-color: white;
    opacity: 90%;
}

/* 입력창 */
.Search {
    width: 90%;
    border: 0px;
    padding: 0px 0px 0px 10px; 
    
}

  
/* 검색버튼 */
.SearchButton {
    width: 10%;
    line-height: 20px;
    
}
  
/* 검색결과 */
.result {
    width: 90%;
    height: 60px;
    position: absolute;
    top: 125px;
    left: 5%;
    z-index: 1;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}
  
  
/* 검색결과 리스트 */
.result-list {
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin-right: 15px;
    opacity: 80%;
}

  
/* 일정표 */
.MyPlan {
    width: 90%;
    height: 100px;
    position: absolute;
    left: 5%;
    bottom: 95px;
    opacity: 90%;
  
}
  

/* 일차 */
.MyPlanDay {
    width: 70%;
    height: 25px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    font-family: "Roboto Bold";
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    z-index: 1;
}
    

.MyPlanDay-list{
    width: 50%;
    height: 25px;
    margin-right: 10px;
    border-radius: 10%;
    background-color: #fff;

    
}

.MyPlanDay-listactive{
    width: 50%;
    height: 25px;
    margin-right: 10px;
    border-radius: 10%;
    background-color: #566AF0;
    color: #fff;
}

.MyPlanDay-list-button{
    padding: 0px, 5px;
}


/* 목적지 */
.MyPlanPlace{
    height: 60px;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    text-align: left;
}
  

/* 목적지 리스트 */
.MyPlanPlace-list {
    width: 100%;
    height: 60px;
    margin-right: 10px;
    padding: 0px;
    background-color: #fff;
}
  
  
/* 내 일정 버튼 - 열기 */
.MyPlanButtonOpen {
    width: 90%;
    height: 60px;
    font-family: "Roboto Bold";
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    line-height: 60px;
    background-color: white;
}


/* 일정표 열렸을 때 */
.PlanOpenButton {
    width: 90%;
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    font-family: "Roboto Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

/* 내 일정 버튼 - 닫기 */
.MyPlanButtonClose {
    width: 45%;
    height: 60px;
    background-color: white; 
}


/* 일정 저장 버튼 */
.MyPlanSave {
    width: 45%;
    height: 60px;
    color: #fff;
    background-color: #566AF0;
  
}
  

/* 지역 선택 페이지 */

.Region{
    position: absolute;
    width: 100%;
    height: 19px;
    line-height: 19px;
    top: 150px;
    color: #C1C1C1;
    text-align: center;
}

.SelectDiv {
    position: absolute;
    width: 84%;
    height: 72%;
    left: 8%;
    bottom: 30px;
    background-color: #F8F9FE;

}

.RegionDropDown {
    margin: 30px ;
    display: flex;
    justify-content: space-between;
}

.metropolitan {
    margin-top: 20px;
    width: 110px;
    background: #fff;
  }

.city {
    margin-top: 20px;
    width: 110px;
    background: #fff;
}
  
.selected {
    display: flex;
    height: 20px;
    justify-content: space-between;
    padding: 5px 10px;
}
  
.selected-value {
    max-width: 90px;
}
  
.value {
    width: 110px;
    height: 300px;
    background: #fff;
    position: absolute;
    overflow: auto;
}
  
.value li {
    padding: 5px 10px;
    text-align: left;
}

  
.SelectButton-Region {
    position: absolute;
    width: 30%;
    height: 40px;
    bottom: 24px;
    left: 34%;
    color: #fff;
    background-color: #566AF0;

}




/* 날짜 선택 페이지 */
.Date{
    position: absolute;
    width: 100%;
    height: 19px;
    line-height: 19px;
    top: 150px;
    color: #C1C1C1;
    text-align: center;
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker {
    width: 90%;
    background-color:transparent !important;
    border: none !important;
}

.react-datepicker__month-container {
    float: none !important;
}
  

.react-datepicker__header {
    background-color:transparent !important;
    border: none !important;
}

.react-datepicker__navigation {
    margin-top: 47px
}

.react-datepicker__current-month{
    margin-top: 40px !important;
    margin-bottom: 50px;
    font-size: 16px !important;
    text-align: center;
}

.react-datepicker__day-names {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}

.react-datepicker__day-name {
    margin: 0px;
}

.react-datepicker__month {
    margin: 0px !important;
}
.react-datepicker__week {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range
, .react-datepicker__day--in-range, .react-datepicker__month-text--selected
, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range
, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range
, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range
, .react-datepicker__year-text--in-range, .react-datepicker__day--keyboard-selected {
    border-radius: 50% !important ;
    background-color: #D8E0FA !important;
    color: #000 !important;
}

  
.react-datepicker__close-icon::after {
    position: fixed;
    right: 870px;
    top: 110px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    background-color: #a3a2a2;
  }



  
.SelectButton-Date {
    position: absolute;
    width: 30%;
    height: 40px;
    bottom: 24px;
    left: 34%;
    color: #fff;
    background-color: #566AF0;
    

}
 









  

  