.App {
  text-align: center;
}

.PlanHeader {
  position: absolute;
  top: 10px;
  left: auto;
}



.Back {
  display: inline-block;
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 5px;
  outline: 2px solid black;
  background-color: white;


}

.Calendar {
  display: inline-block;
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 285px;
  outline: 2px solid black;
  background-color: white;

  
  
}

.inputForm {
  width: 315px;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 30px;
  padding: 0px;
  border: 0px;
  outline: 2px solid black;
  z-index: 1;
}

.Search {
  width: 315px;
  height: 40px;
  position: relative;
  padding: 0px;
  border: 0px;
  outline: 2px solid black;
  
}

.SearchButton {
  width: 30px;
  height: 40px;
  position: relative;
  top: -40px;
  left: 145px;
  background-color: white;


}

.myMap {
  z-index: 0;
}

.result-list {
  width: 227px;
  height: 60px;
  background-color: #fff;
  margin-right: 15px;
}

.MyPlan {
  width: 315px;
  height: 175px;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 20px;

}


.MyPlanDay {
  width: 315px;
  height: 25px;
  background-color: white;



}

.MyPlanPlace{
  width: 315px;
  height: 60px;
  margin:  15px 0px 15px 0px;
  background-color: white;


}


.MyPlanSave {
  width: 150px;
  height: 60px;
  position: relative;
  background-color: #566AF0;



}

.MyPlanButton {
  width: 150px;
  height: 60px;
  margin-left: 165px;
  margin-top: -60px;
  position: relative;
  background-color: white;

}

