@import '../../../Reset.css';

.selves{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  .self{
    margin: 0 auto;
  }

  .signup_ko {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-top: 80px;
  }
  
  .signup_eng {
      color: gray;
      font-weight: normal;
      font-size: 16px;
      text-align: center;
      margin-top: 3px;
      }

 .sub_title {
    text-align: center;
    margin-top: 30px;
    color: rgb(77, 76, 76);
    font-size: 18px;
    font-weight: 500;
  }
  p{
    text-align: center;
    margin-top: 30px;
    color: black;
    font-size: 19px;
    font-weight: 500;
  }

  .first_check{
    text-align: right;
  }
  h4{
    display :inline-block;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 10px;
  }

  .red_text{
    color: red;
    display: inline-block;
  }

  .red_star{
    color: red;
    display: inline-block;
    font-size: 14px;
  }

  .input_name{
    width: 450px;
    height: 60px;
    padding-left: 10px;
  }
  .input_phone{
    width: 450px;
    height: 60px;
    padding-left: 10px;
    position: absolute;
  }
  .input_num{
    width: 450px;
    height: 60px;
    padding-left: 10px;
    position: absolute;
  }
  .name_text{
    color: black;
    margin-top: 70px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
  }

  .phone_text{
    color: black;
    margin-top: 70px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
  }

  .num_text{
    color: black;
    margin-top: 70px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
  }
.num{
  margin-top: 70px;
}
  .self_next input{
    width: 464px;
    height: 60px;
    border: none;
    background-color: #566AF0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 10px;
    border: none;
    text-align: center;
    margin: 0 auto;
  }

  .self_next{
    margin-top: 100px;
  }

  .phone_button {
    position: relative;
    top:23px;
    left:400px;
    background-color: white;
    color:#566AF0;
    border: none;
    font-weight: bold;
  }

  
  .num_button {
    position: relative;
    top:23px;
    left:400px;
    background-color: white;
    color:#566AF0;
    border: none;
    font-weight: bold;
  }